$primary-color: #0b0c10;
$secondary-color: #1f2833;
$third-color: #c5c6c7;
$fourth-color: #66fcf1;
$fifth-color: #45a295;

$show-home-image: true;
$home-image: url(../images/table_bg1.jpg);
$computer-image: url(../images/computer.png);
$mouse-image: url(../images/mouse.png);
$cofee-image: url(../images/cofee.png);
$background-opacity: 0.9;

$layout-breakpoint-large: 960px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-small: 576px;
$layout-breakpoint-xlarge:1250px;
$layout-breakpoint-xxlarge:1400px;

@mixin mainbackground{

}

@mixin easein-out {
    transition: all 0.5s ease-in-out;
}

.sl-go-up{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 2rem;
    margin-right: 1rem;
    color: #45a295;
    font-size: 3rem;
    cursor: pointer;
    display: none;
    @include easein-out;
    &:hover{
        color:$third-color;
    }
}

.__san_project_wrap {
    display: flex;
    background-color:$primary-color;
    
    .__san_project_ls {
        width: 40%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            font-size:3rem;
            font-weight:600;
            text-transform:uppercase;
        }
    }
    .__san_project_rs {
        width: 60%;
        margin-left: auto;
        .__san_project {
            padding:1rem;
            &:after{
                content:" ";
                height:.2em;
                width:100%;
                background-color:$fourth-color;
                display: block;
                margin-top: 2rem;
            }
            
            h2{
                margin-bottom:1rem;
                text-transform:uppercase;
                text-align:center;
            }
            .__san_project_item{
                width:20rem;
                height:15rem;
                margin:0 auto;
                img{
                    width:100%;  
                }
                .__san_project_btn{
                    margin-top:1rem;
                    text-align:center;
                    .button{
                        color: $third-color;
                        background-color: $secondary-color;
                        border-color: #6c757d;
                        padding:.5rem;
                        border-radius:.8rem;
                        cursor:pointer;
                        text-transform:uppercase;
                        font-weight:600;
                        &:hover{
                            color:$fourth-color;
                        }
                    }
                }
            }
            // .__san_project_points{
            //     ul{ 
            //         li{

            //          }
            //      }
            // }
        }
    }
}

.sticky_sic {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

#sl-skills{
    background-color:$secondary-color;
    .sl-skills-heading{
        display:flex;
        width:100%;
        span{
            font-size:3rem;
            font-weight:700;
            margin:0 auto;
        }
    }
    .sl-skills-list{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        padding:5rem;
        .sl-skills-count{
            background-color:$fourth-color;
            color:$primary-color;
            min-width:250px;
            margin-bottom:1rem;
            padding:.5rem .3rem;
            display:flex;
            & span:nth-child(1){
                flex:1
            }
            & span:nth-child(2){
                flex:2;
                align-self:center;
            }
        }
    }

}

#sl-contact-form{
    .sl-contact-heading{
        display:flex;
        width:100%;
        span{
            font-size:3rem;
            font-weight:700;
            margin:0 auto;
        }
    }
    .sl-form-whole{
        display:flex;
        flex-direction:row;
                .sl-form-wrap{
                    width:60%;
                    form{
                        background-color:$third-color;
                        border-radius:2rem;
                        width:80%;
                        margin:0 auto;
                        .form-list-wrap{
                            padding:1rem;
                            input,textarea{
                                display: block;
                                width: 100%;
                                padding: .375rem .75rem;
                                font-size: 1rem;
                                line-height: 1.5;
                                color: #495057;
                                background-color: #fff;
                                background-clip: padding-box;
                                border: 1px solid #ced4da;
                                border-radius: .25rem;
                                margin-top:1rem;
                                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                            }
                            label{
                                color:$primary-color;
                                font-weight:600;
                                text-transform:uppercase;
                            }
                        }
                        .form-list-button{
                            text-align:center;
                            padding-bottom:2rem;
                            button{
                                font-size:100;
                                border:none;
                                background-color:$primary-color;
                                padding:.5rem 2rem;
                                color:$third-color;
                                cursor:pointer;
                                border-radius:2rem;
                                &:hover{
                                    background-color:$secondary-color;
                                    color:$fifth-color;
                                }
                            }
                        }
                    }
                }
                .sl-connect{
                    width:40%;
                    .sl-connect-heading{
                        span{
                            font-size:2rem;
                            font-weight:600;
                            margin-bottom:1rem;
                            &:after{
                                content:"";
                                height:.5rem;
                                display:block;
                                background:$fourth-color;
                            }
                        }
                    }
                    .sl-connect-items{
                        margin-top:1rem;
                        ul{
                            font-size:2rem;
                            li{
                                list-style-type:none;
                                i{
                                    margin-right:.5rem;
                                }
                                a:hover{
                                    span{
                                        color:$fourth-color;
                                    }
                                }
                            }
                            li:nth-child(1){
                                a{
                                        i{
                                        color:#D95145;
                                        }
                                    
                                }
                            }
                            li:nth-child(2){
                                a{
                                    i{
                                        color:#902BC8;
                                    }
                                }
                            }
                        }
                    }
                }
    }
}

.sl-footer{
    background-color:$secondary-color;
    margin-top:1rem;
    font-size:1rem;
    font-weight:700;
    text-align:center;
    padding:1rem 0rem;
}


